body {
   background-image: url("/static/images/landing.jpg");
   background-color: #cccccc;
   background-repeat: repeat;
   background-size: 100%;
}
.display-1, strong, text, input {
    color: #f9f1e8;
}
div {
    width: auto;
    word-wrap: break-word;
}
img {
    height: 500px;
    width: 80%;
}
.category_image {
    height: 80%;
    width: 100%;
    border: 5px solid #f2f4f7; padding:2px;
}
.category_image_paleo {
    height: 225px;
    width: 100%;
    border: 5px solid #f2f4f7; padding:2px;
}
.category_image_popular {
    height: 205px;
    width: 100%;
    border: 5px solid #f2f4f7; padding:2px;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
}
