{% extends 'base.html' %} {% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{url_for('static', filename='images/love_cooking.jpg')}}" alt="">
          </a>
        </div>
        <div class="col-md-9">
            <h1><strong>We love cooking</strong></h1>
            <p>This website is all about inspiring people to cook more adventurously. 
               It’s important to us to find time to sit with our loved ones and enjoy great food together – 
               now we’re spreading the word!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{url_for('static', filename='images/food_experiment.jpg')}}" alt="">
          </a>
        </div>
        <div class="col-md-9">
            <h1><strong>Experimenting with food is what we do everyday</strong></h1>
            <p>Our chefs are always in the kitchen creating and perfecting exciting dishes for weekly menus. 
               Combining fresh, quality ingredients comes naturally to them and by practise they make perfect. 
               Creating simple step-by-step guides along the way makes for an easy experience for cooks at home. We offer choice for everybody - 
               offering meat, fish, vegetarian, low calorie 'Healthy Choice', as well as heartier meals to suit every taste.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{url_for('static', filename='images/fresh_ingredients.jpg')}}" alt="">
          </a>
        </div>
        <div class="col-md-9">
            <h1><strong>We bring great ingredients to your door</strong></h1>
            <p>Technology allows us to become your local greengrocer, butcher and fishmonger. Or at least it gives us the opportunity to 
               reconnect you with the core values of knowing where your food comes from. Building relationships with sustainable suppliers 
               ensures that we are a lot more than just an online shop.</p>
        </div>       
    </div>
    <div class="row">
        <div class="col-md-3">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{url_for('static', filename='images/sustainability.jpg')}}" alt="">
          </a>
        </div>
        <div class="col-md-9">
            <h1><strong>A focus on sustainability</strong></h1>
            <p>Key to this of course is our packaging - we used paper-based tapes and reusable chill packs as insulation. Our packaging is 100% recyclable 
               and can be broken down and placed in your recycling bin. We also help to eliminate unnecessary food waste by delivering you with the exact 
               portions of what you require for each meal.</p>
        </div>       
    </div>
</div>

{% endblock %}