{% extends 'base.html' %} {% block content %}
<br>
<br>
<div class="container">
  
  <div class="row col s6">
    <h1>Add Recipe</h1>
  </div>
    
    <form action="{{ url_for('insert_record') }}" role="form" id="form1" name="add_recipe_form" method="POST" enctype="multipart/form-data" onsubmit="return validateForm_Add_Recipe()">
      
      <div class="form-group">
        Upload an image for your recipe:
        <input name="file" class="form-control-file" id="exampleFormControlFile1" type="file">
      </div>
      <div class="form-group">
        User Name (Full)
        <input name="user_name" type="text" class="form-control">
      </div>
      <div class="form-group">
        Recipe Name
        <input name="recipe_name" type="text" class="form-control">
      </div>
      <div class="form-group">
        Preparation Time
        <input name="prep_time" type="text" class="form-control">
      </div>
      <div class="form-group">
        Portion Sizes
        <input name="portion_size" type="text" class="form-control">
      </div>
      <div class="form-group">
        Nutrition
        <textarea name="nutrition" type="text" class="form-control"></textarea>
      </div>
      <div class="form-group">
        Allergins
        <input name="allergins" type="text" class="form-control">
      </div>
      <div class="form-group">
        Utensils
        <textarea name="utensils" type="text" class="form-control"></textarea>
      </div>
      <div class="form-group">
        Food Type
        <select id="food_category" name="food_category" class="form-control">
          <option value="Meat">Meat</option>
          <option value="Vegetarian">Vegetarian</option>
          <option value="Keto">Keto</option>
          <option value="Paleo">Paleo</option>
          <option value="Asian Fusion">Asian Fusion</option>
          <option value="Middle Eastern">Middle Eastern</option>
          <option value="European">European</option>
          <option value="Desert">Desert</option>
        </select>
      </div>
      <div class="form-group">
        Recipe Description
        <textarea name="recipe_description" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        Ingredients (Put each ingredient on a new line)
        <textarea name="recipe_ingredients" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        Directions (Put each direction on a new line)
        <textarea name="recipe_directions" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      
    </form>
    
    <br>
    <br>
    <br>
    
</div>

<!-- Footer -->
        <footer class="py-5 bg-dark">
           <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; JB Consulting 2018</p>
           </div>
        </footer>

{% endblock %}

      
    