{% extends 'base.html' %} {% block content %}
<br>
<br>
<div class="container">
    
    <div class="row col s6">
        <h1>Add Recipe</h1>
    </div>
    
    <div class="row">
        <div class="col s6">  
            <h3>Recipe Image Will Appear Here:</h3>
                {{ dropzone.create(action_view='add_recipe') }}
        </div>
    </div>
    
</div>

<div class="container">
    <br>
        <div class="row">

            
            <div class="container">
            
                <form action="{{ url_for('insert_record') }}" id="form1" method="POST" class="col s12">


                    <div class="row col s6" label for="icon_prefix">
                        <div class="input-field col s6">
                            <strong> User Name (Full) </strong> 
                                <input id="user_name" name="user_name" type="text">
                        </div>
                    </div>
                    
                            
                    <div class="row col s6" label for="icon_prefix">
                        <div class="input-field col s6">
                            <strong> Recipe Name </strong> 
                                <input id="recipe_name" name="recipe_name" type="text">
                        </div>
                    </div>
                     
                    
                    <div class="row col s6" label for="icon_prefix">
                        <div class="input-field col s6">
                            <strong> Preparation Time </strong>
                                <input id="prep_time" name="prep_time" type="text">
                        </div>
                    </div>
                   
        
                    <div class="row col s6" label for="icon_prefix">
                        <div class="input-field col s6">
                             <strong> Portion Sizes </strong>
                                 <input id="portion_size" name="portion_size" type="text">
                        </div>
                    </div>
                    
                    
                    <div class="col s12" label for="icon_prefix">   
                       
                        <div class="row col s8">
                           <strong> Dietary Requirements/Food Type </strong>
                        </div>
                       
                        <div class="input-field col s4">     
                            <!-- Dropdown Trigger -->
                            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
                                <!-- Dropdown Structure -->
                                    <ul id='dropdown1' class='dropdown-content'>
                                        <li><a href="#!" id="dietary_requirement" name="meat">Meat</a></li>
                                        <li><a href="#!" id="dietary_requirement" name="veg">Veg</a></li>
                                        <li><a href="#!" id="dietary_requirement" name="sweet">Sweet</a></li>
                                    </ul>
                        </div>
                                        
                    </div>    


                    <div class="row col s12" label for="icon_prefix">
                        <br>
                            <div class="input-field col s6">
                                <strong> Recipe Description </strong>
                                    <textarea name="recipe_description" input id="recipe_description" class="materialize-textarea"></textarea>
                            </div>
                    </div>
                        
                            
                    <div class="row col s12" label for="icon_prefix">
                        <br>
                            <div class="input-field col s6">
                                <strong> Ingredients (Put each ingredient on a new line) </strong>
                                    <textarea name="recipe_ingredients" input id="recipe_ingredients" class="materialize-textarea"></textarea>
                            </div>
                    </div>
                                
                            
                    <div class="row col s12" label for="icon_prefix">
                        <br>
                            <div class="input-field col s6">
                                <strong> Directions (Put each direction on a new line) </strong>
                                    <textarea name="recipe_directions" input id="recipe_directions" class="materialize-textarea"></textarea>
                            </div>
                    </div>
                    
                    <br>
                    
                    <div class="row col s12">
                        <button class="btn waves-effect waves-light" type="submit"> 
                            <input id="submit" type="submit" value="Submit">
                        </button>
                    </div>
                        
                            

                </form>
                    
            </div>
            
            
</div>
{% endblock %}
