{% extends 'base.html' %} {% block content %}


<div class="container">
    <br>
        <div class="row">
            <form action="{{ url_for('add_recipe') }}" method="POST"  class="col s12">
                
                <div class="container">
                    <div class="row">
                        <h1>Add Recipe</h1>
                    </div>
                </div>
                
                <div class="container">
                    <strong> Recipe Name </strong> 
                        <div class="row" label for="icon_prefix">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">assignment</i>
                                <input id="recipe_name" name="recipe_name" type="text">
                            </div>
                        </div>
                </div>
                
                <div class="container">
                    <strong> Preparation Time </strong>
                        <div class="row" label for="icon_prefix">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">assignment</i>
                                <input id="prep_time" name="prep_time" type="text">
                            </div>
                        </div>
                </div>
                
                <div class="container">
                    <strong> Portion Sizes </strong>
                        <div class="row" label for="icon_prefix">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">assignment</i>
                                <input id="portion_size" name="portion_size" type="text">
                            </div>
                        </div>
                </div>
                
                <div class="container">
                    <strong> Recipe Description </strong>
                        <div class="row" label for="icon_prefix">
                            <br>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">assignment</i>
                                    <textarea name="recipe_description" input id="recipe_description" class="materialize-textarea"></textarea>
                                </div>
                        </div>
                </div>
                
                <div class="contianer">
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Add Task
                         </button>
                    </div>
                </div>
                
            </form>
</div>

{% endblock %}
