<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Flask App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recipes WebApp</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Bootstrap JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  
  </head>
  
  <style>
    .h1 {
      color:#63aa6c;
    }
    .h4 {
      color:#ffa8a8;
    }
  </style>

  <body>
<br>
<br>
<br>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          {{session['user']}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('home')}}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('categories')}}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('add_recipe')}}" id="navbarDropdownPortfolio" aria-haspopup="false" aria-expanded="false">Add A Recipe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    {% block content %} 
      
    
    
    {% endblock %}
  
      <script type="text/javascript">
          $(document).ready(function() {
            $('.dropdown-trigger').dropdown();
            $('select').formSelect();
              
          $(document).on("submit", "form1", function(e){
              e.preventDefault();
              alert('it works!');
              return  false;
          });
          });
          
          function deleteRecipe() {
          var txt;
          if (confirm("Recipe Deleted")) {
          } else {
          }
          document.getElementById("demo").innerHTML = txt;
          
          }

          function validateForm() {
              var x = document.forms["edit_recipe_form"]["file"].value;
              if (x == "") {
                  alert("You must upload an Image for your recipe. ");
                  return false;
              }
          }
      </script>
        
  </body>

</html>