{% extends 'base.html' %} {% block content %}
  
   <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4" style="background:transparent !important; color:#49c0c6;">
        <h1 class="display-3" style="color:#53bc94;">Welcome {{session['user']}}!</h1>
        <h3 class="lead" style="color:#e8563c">A compilation of my favourite recipes from different food categories and worldy origins.</h3>
      </header>
   
     </div>
   
   <br>
   
{% for recipe in recipe_name %} 
<div class="container">
   
   
      <!-- Page Features -->
      <div class="row text-center">
         <div class="col-lg-6 col-md-6 mb-4">
            
            <div class="card" style="display: inline-block;">
               <a href="{{url_for('view_recipe', recipe_name=recipe._id)}}"><img src="{{ recipe.image_url }}" class="img-thumbnail" alt="Responsive image" style="border: 1px solid #61ccb3;width: 540px;height: auto"></a>
            </div>
            
         </div>

         <div class="col-lg-6 col-md-6 mb-4">

            <div class="card-body" style="display: inline-block;">
               <h2 class="card-title" style="color:#53bc94;">{{ recipe.form_data.recipe_name }}</h2>
               <p style="color:#e8563c">Uploaded by: {{ recipe.form_data.user_name }}</p>
               <br>
               <br>
               <p class="card-text">{{ recipe.form_data.recipe_description}}</p>
            </div>
            
         </div>
         
         
         
      </div>
   <hr>
</div>
<!-- /Container -->

    
{% endfor %}



   <!-- Footer -->
      <footer class="py-5 bg-dark">
         <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; JB Consulting 2018</p>
         </div>
      </footer>
      
      </div>

{% endblock %}
