<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Landing Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Bootstrap JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_landing.css')}}" type="text/css" />
    
    <!-- Required for landing page -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  
  </head>
 
        <body>
    
            <div id="login">
                <h3 class="text-center text-white pt-5"></h3>
                    
                        <div class="container">
                            
                                    <div class="row l12">
                                        
                                        <div class="col s6"> 
                                            <h1 class="display-1">Jack's Recipe's</h1>
                                        </div>
                                        
                                    </div>
                                        
                                    <br>
                                    <br>
                                    <br>
                                        
                                    <div class="row m12">    
                                        
                                            <form action="{{ url_for('home') }}" id="form1" method="POST" class="col s12" enctype="multipart/form-data">
                                                
                                                <div class="row col l6" label for="icon_prefix">
                                                    <div class="input-field col l6">
                                                        <strong> Username: </strong> 
                                                            <input id="username" name="username" type="text">
                                                    </div>
                                                </div>
                                                
                                                <br>
                                                
                                    
                                                <div class=" col l6" label for="icon_prefix">
                                                    <button class="btn waves-effect waves-light" type="submit"> 
                                                            <input id="submit" type="submit" value="begin">
                                                    </button>
                                                </div>
                                                        
                                            </form>
                                        
                                    </div>
                                    
                                    </div>       

                        </div>
            </div>
        
        </body>

</html>



