{% extends 'base.html' %} {% block content %}
        
   {% for document in collection %}
      {% if document.form_data.food_category == "Meat" %}
            
      <div class="container">
         
         <div class="container">  
            
            <div class="row">
             <div class="col-lg-12 col-lg-12">
                  <img src="{{ document.image_url }}" class="img-fluid" alt="Responsive-image" style="border: 1px solid #61ccb3;width: 100%;height: auto">
                  <h3 style="color:#61ccb3;">
                     {{ document.form_data.recipe_name }}
                  </h3>
               </div>
            </div>
              <br>
            <a class="btn btn-info" href="{{url_for('view_recipe', recipe_name=document._id)}}" >View Recipe
               <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
                       
               </div>
            </div>
                  
                  
         </div>        
                  
      </div>
            
      {% endif %}
   {% endfor %}
    
{% endblock %}