<!DOCTYPE html>
<html lang="en">

  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recipes WebApp</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Bootstrap JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
  
  </head>

  <body>
<br>
<br>
<br>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('home')}}">Jack's Recipe's</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="dropdown" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('add_recipe')}}" id="navbarDropdownPortfolio" aria-haspopup="false" aria-expanded="false">
                Add Recipe
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
    <br>
        <div class="row">
            
            <div class="row col s6">
                <h1>Add Recipe</h1>
            </div>
            
            <div class="container">
            
                <form action="{{ url_for('add_recipe') }}" method="POST" class="col s12">


                    <div class="row col s6" label for="icon_prefix">
                        <div class="input-field col s6">
                            <strong> User Name (Full) </strong> 
                                <input id="user_name" name="user_name" type="text">
                        </div>
                    </div>
                    
                            
                    <div class="row col s6" label for="icon_prefix">
                        <div class="input-field col s6">
                            <strong> Recipe Name </strong> 
                                <input id="recipe_name" name="recipe_name" type="text">
                        </div>
                    </div>
                     
                    
                    <div class="row col s6" label for="icon_prefix">
                        <div class="input-field col s6">
                            <strong> Preparation Time </strong>
                                <input id="prep_time" name="prep_time" type="text">
                        </div>
                    </div>
                   
        
                    <div class="row col s6" label for="icon_prefix">
                        <div class="input-field col s6">
                             <strong> Portion Sizes </strong>
                                 <input id="portion_size" name="portion_size" type="text">
                        </div>
                    </div>
                    
                    
                   
                     <div class="row col s12" label for="icon_prefix">   
                              
                      <!-- Dropdown Trigger -->
                      <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
                    
                      <!-- Dropdown Structure -->
                      <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                      </ul>
                                        
                    </div>    
                  


                    <div class="row col s12" label for="icon_prefix">
                        <br>
                            <div class="input-field col s6">
                                <strong> Recipe Description </strong>
                                    <textarea name="recipe_description" input id="recipe_description" class="materialize-textarea"></textarea>
                            </div>
                    </div>
                        
                            
                    <div class="row col s12" label for="icon_prefix">
                        <br>
                            <div class="input-field col s6">
                                <strong> Ingredients (Put each ingredient on a new line) </strong>
                                    <textarea name="recipe_ingredients" input id="recipe_ingredients" class="materialize-textarea"></textarea>
                            </div>
                    </div>
                                
                            
                    <div class="row col s12" label for="icon_prefix">
                        <br>
                            <div class="input-field col s6">
                                <strong> Directions (Put each direction on a new line) </strong>
                                    <textarea name="recipe_directions" input id="recipe_directions" class="materialize-textarea"></textarea>
                            </div>
                    </div>
                    
                    
                        <div class="row col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action"> 
                                <input id="submit" type="submit" value="Submit">
                            </button>
                        </div>
                        

                </form>
            </div>
</div>
  
            <script type="text/javascript">
                $('.dropdown-trigger').dropdown();
            </script>      
 
</body>
</html>
