{% extends 'base.html' %} {% block content %}

<br>

<div class="container">
    
    <div class="container">
        <br>
        <div class="row">
             <div class="col-lg-6 col-lg-6">
                 <div class="card" style="display: inline-block;">
                     <img class="recipe_photo" src="{{ recipe.image_url }}" class="img-fluid" alt="Responsive-image" style="border: 1px solid #61ccb3;width: 100%;height: auto">
                 </div>
             </div>
             <div class="col-lg-2 col-lg-6" style="color:#e8563c">
                 <br>
                 <br>
                 <br>
                 <h2 style="color:#53bc94;">Description: </h2>
                 {{recipe.form_data.recipe_description}}
                 <br>
             </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-lg-2 col-lg-6" style="color:#e8563c">
                <h3 style="color:#53bc94;">Submitted by:</h3> {{recipe.form_data.user_name}}
            </div>
            <br>
            <div class="col-lg-2 col-lg-6" style="color:#e8563c">
                <h3 style="color:#53bc94;">Food Category:</h3> {{recipe.form_data.food_category}}
            </div>
        </div>
            
        <br>
        <hr>
        
        <div class="row">
            <div class="col-lg-2 col-lg-6" style="color:#e8563c">
                <h3 style="color:#53bc94;">Portion:</h3> {{recipe.form_data.portion_size}}
            </div>
            <div class="col-lg-2 col-lg-6" style="color:#e8563c">
                <h3 style="color:#53bc94;">Utensils:</h3> {{recipe.form_data.utensils}}
            </div>
        </div>
        
        <br>
        <hr>
            
        <div class="row">
            <div class="col-lg-2 col-lg-6" style="color:#e8563c">
                <h3 style="color:#53bc94;">Allergins:</h3> {{recipe.form_data.allergins}}
            </div>
            <div class="col-lg-2 col-lg-6" style="color:#e8563c">
                <h3 style="color:#53bc94;">Nutrition:</h3> {{recipe.form_data.nutrition}}
            </div>
        </div>
        
        <br>
        <hr>
 
        <div class="row">
            <div class="col-lg-12 col-lg-6" style="word-wrap: break-word;">
                <h3 style="color:#53bc94;">Directions:</h3> <p><pre style="color:#e8563c">{{recipe.form_data.recipe_directions}}</pre></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-lg-6" style="word-wrap: break-word;">
                <button type="button" class="btn btn-success" onclick="editRecipe()">Edit</button>
                <button type="button" class="btn btn-danger" onclick="deleteRecipe()">Delete</button>
            </div>
        </div>
        
        <br>
        <br>
        <br>
        
    </div>
 
</div>

{% endblock %}